<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="EndpointBehaviour()">
                    <webHttp helpEnabled="true" />
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
                <behavior name="MetadataBehaviour()">
                    <serviceMetadata httpsGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="ServiceRest3b_20180140119.TI_UMY">
                <endpoint address="" behaviorConfiguration="EndpointBehaviour()"
                    binding="webHttpBinding" bindingConfiguration="" contract="ServiceRest3b_20180140119.ITI_UMY" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:1909" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>